@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Amita:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amita:wght@700&display=swap');


/*--------------------Header----------------*/
header{
    margin:0 auto 0;
}

#nav{
    margin:0 auto 0;

}

.main-heading{
    font-family:'Alfa Slab One';
    font-size:30px;
    text-transform: uppercase;
    padding-top:5px;
    color:rgba(9, 23, 226);
    display:block;
    text-align: center;
}

.cogs i{
    font-size:40px;
    display:block;
}

@media(max-width:800px){
    .cogs{
        display:none;
    }
}

.menuitem{
    padding:10px;
    
}


.menuitem a{
    color:#080808;
    text-align: center;

}
.menuitem span{
    display:block;
    width:100%;
    padding-top:5px;
    text-align:center;
    text-transform:uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;

}

.menu-item a:hover{
    color:#360ab1;
    font-weight:700;
}
/*--------------------Main Image----------------*/
#logo-container{
    margin-left:0px;
    margin-right:0px;
    width:100%;
}

.col{
    padding:0px;
}

.logo{
    padding:0px;
}
    
    

}

.image{
    
    Background:url("../images/Featured-item.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 360px;
    z-index:1;
    width:100%;
    padding:0px;
}



.bubble{
    background-color:rgba(9, 23, 226, 0.603);
    width:300px;
    height:180px;
    border-radius:50%;
    position:absolute;
    right:20%;
    bottom:10%;
    z-index: 2;
    
    
}

.bubble p{
    font-family:'Amita', cursive;
    font-size:28px;
    color:#fafafa;
    padding-top:20px;
    text-align:center;
    vertical-align:middle;
}

/*--------------------Section----------------*/
.testimonials{
    font-family:"Roboto", sans-serif;
    border: 2px solid #525252;
    padding-top:20px;
    margin-top:20px;
    text-align:center;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
}


.main-image{
background-repeat: no-repeat;
position:absolute;
z-index:1;

}

.uppercase{
    text-transform:uppercase;
}
.about-us{
 
    text-align: center;
    padding:10px;
}

.about-us-heading{
    text-align: center;
}
.testimonials-heading{
    text-align:center;
    display:block;
} 



.services{
        padding-top:30px;
    }

/*--------------------Services----------------*/
section{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:10px;
}

.weld-img{
    background:url("../images/Welding_Industrial.png");
    margin-top:10px;
    max-width:50%;
    height:200px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;



}

/*--------------------Form----------------*/

.contact-heading {
    font-family:"Exo", sans-serif;
    font-weight: 300;
    margin-top:25px;
    margin-bottom:20px;
}
.center-form{
    padding-top:10px;
    margin:0 auto;
    max-width:70%;

}

@media(min-width:992px){
    .center-form{
    padding-top:30px;
    min-height:240px;
    margin:0 auto;
    max-width:50%;

}
}





/*--------------------Footer----------------*/

footer{
    background-color: #525252;
    color:#fafafa;
    min-height:120px;
    margin:0;
    text-align:center;
}

#footer-details{
    padding-top:30px;
}