@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Amita:100,200,300,400,500,600,700|Alfa+Slab+One:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,300;1,400&display=swap');

body{
    overflow-x:hidden;
    margin:0px;
    
}

.container-fluid{
    margin:0;
    padding:0px;
}
/*--------------------Header----------------*/





.navbar{
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom:20px;
    background-color:#777a7dec;
    width:100%;
    border-bottom:3px solid rgb(241, 121, 9);
   
   
}

.main-heading{
    font-family:'Alfa Slab One';
    font-size:40px;
    text-transform: uppercase;
    padding-top:5px;
    color:#fafafa;
    display:block;
    text-align: center;
    text-shadow: 10px 10px 16px #ef7108bf;
}

.cogs i{
    font-size:40px;
    display:block;
    color:#fafafa;
    text-shadow: 10px 10px 16px #ef7108bf;
}

@media(max-width:800px){
    .cogs{
        display:none;
    }
}

.menuitem{
    padding:10px;
    

    
}

.cogs-left{
    padding-left:23px;
}
.list-inline-item:not(:last-child) {
    margin-right:0;
}

.list-inline{
    padding:0px;
}

.services{
    padding-right:5px;
}
.menuitem a{
    color:#fafafa;
    text-align: center;
    font-size:30px;

}

.menuitem a:hover{
    color:#F36A0B;
    text-shadow: 20px 20px 20px #fafafa;
    text-decoration:none;



}

.menuitem span{
    display:block;
    width:100%;
    padding-top:5px;
    text-align:center;
    text-transform:uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family:'Raleway', sans-serif;

}


#nav li{
    padding:10px;
    margin:0;
}

#nav{
    width:100%;
    padding-left:8px;
    padding-right:5px;
}
/*--------------------Main Image----------------*/



#logo-container{


    position:relative;
    width:100%;
    height:400px;
    overflow:hidden;
    margin-top:-25px;  
    margin-right:-20px;
    
    
}


   #logo {
    
    background:url("https://s0.geograph.org.uk/geophotos/01/01/61/1016199_5e362fee.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:400px;
  
  animation-name: main-zoom;
  animation-duration:3s;
  border:3px solid rgb(241, 121, 9);
   
}

@keyframes main-zoom{
    from{transform:scale(0.8);


}
    to{transform:scale(1);
    }
}


@media (min-width:1100px){
    #logo{
        background-size:cover;
        }}




.bubble{
    background-color:rgba(241, 121, 9, 0.603);
    width:300px;
    height:180px;
    border-radius:50%;
    position:absolute;
    right:12%;
    bottom:15%;
    z-index: 2;
    
}

@media (max-width:600px){
    .bubble{
        bottom:25%;
        right:25%;
        width:50%;
        height:40%;
    }
}

.bubble p{
    font-family:'Amita', cursive;
    font-size:28px;
    color:#fafafa;
    padding-top:20px;
    text-align:center;
    vertical-align:middle;
}

@media (max-width:600px){
    .bubble p{
        font-size:24px;
    }
}

/*--------------------Section----------------*/

.main-section{
    margin:0px;
}

.testimonials-div{text-align: center;
    padding:10px;
    margin-left:35px;
    margin-right:35px;
    margin-bottom:10px;

}
.testimonials{
    font-family:'Amita', cursive, sans-serif;
    background-color:rgba(241, 121, 9, 0.8);
    width:80%;
    border-radius:50%;
    padding-top:5px;
    margin-top:10px;
    text-align:center;
    margin-bottom:10px;
    margin:auto;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:15px;
    color:#777a7def;
}

.testimonials h4{
    font-family:'Raleway', sans-serif;
    font-size:20px;
    padding-top:10px;
    text-transform:uppercase;
color:#fafafa;
}
.outer-border{
    border:dotted 4px rgba(241, 121, 9, 0.8);
    border-radius:50%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:0px;
    padding-right:0px;

    
}

.outer-border-about-us{border:dotted 4px rgba(241, 121, 9, 0.8);
    border-radius:45%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;


}

.about-us-text{
    margin:10px;
    margin-top:10px;
    padding:25px;
}



.uppercase{
    text-transform:uppercase;
}
.about-us{
 
    text-align: center;
    padding:10px;
    margin-left:35px;
    margin-right:35px;
    font-family:'Raleway', sans-serif;
    font-weight:500;
}

.about-us-heading{
       text-align:center;
    text-transform:uppercase;
    margin-bottom:15px;
    font-family:'Alfa Slab One';
    color:rgb(241, 121, 9);
    font-size:35px;
    text-shadow: 10px 10px 16px grey;
    margin-top:15px;

}


.testimonials-heading{
     text-align:center;
    text-transform:uppercase;
    margin-bottom:15px;
    font-family:'Alfa Slab One';
    color:rgb(241, 121, 9);
    font-size:35px;
    text-shadow: 10px 10px 16px grey;
    margin-top:15px;
} 





.services{
        padding-top:15px;
        width:100%;
    }

/*--------------------Services----------------*/
section{
    padding-top:5px;
    padding-bottom:15px;
   

}

.heading-services{
    text-align:center;
    text-transform:uppercase;
    margin-bottom:15px;
    font-family:'Alfa Slab One';
    color:rgb(241, 121, 9);
    text-shadow: 10px 10px 16px grey;
    margin-top:0;
    font-size:40px;
    padding-left:15px;
    margin-left:15px;

}




.services-box{

    text-align:center;
    padding:0px;
    box-shadow: 10px 10px  rgb(241, 121, 9,0.7);
    margin-bottom:20px;
    margin-left:30px;
    margin-right:25px;
    margin-top:20px;
    background-color:#777a7d;
    height:90%
    
}

.card-body-box{
    padding:5px;
}
.services-heading{

    width:100%;
    padding-top:10px;
    margin:0;
    text-transform:uppercase;
    color:#fafafa;
    text-align: center;
    text-shadow: 10px 10px 16px #ef7108bf;

    
    }

.services-info{
    width:80%;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
    background-color:#777a7dd7;
    color:#fafafa;
    font-family:'Raleway', sans-serif;
    
}

.prices-button{text-transform:uppercase;
    background-color:rgb(241, 121, 9);
    color:#585655;
    font-weight:700;
    border:rgb(241, 121, 9);
    margin-top:5px;
    margin-bottom:5px;}

    .prices-button:hover{
    background-color:#585655;
    color:rgb(241, 121, 9);}

    .modal-header h5{
        width:100%;
        margin:auto;
        text-transform:uppercase;
        color:#585655;
    }

    .modal-header{
        border-bottom:solid 2px rgb(241, 121, 9);
    }

    .modal-footer{
        border-top:solid 2px rgb(241, 121, 9);
    }

    .close-btn:hover{background-color:rgb(241, 121, 9);
    color:#585655;}
    
    /*--------------------Form----------------*/

.contact-heading {
    text-align:center;
    text-transform:uppercase;
    margin-top:10px;
    margin-bottom:15px;
    font-family:'Alfa Slab One';
    color:rgb(241, 121, 9);
    font-size:35px;
    text-shadow: 10px 10px 16px grey;
}
.center-form{
    padding-top:10px;
    margin:0 auto;
    max-width:100%;
    padding-bottom:25px;

}

@media(min-width:992px){
    .center-form{
    padding-top:30px;
    min-height:240px;
    margin:0px;
    max-width:100%;

}
}

.input-box{
    margin-top:5px;
}

.button{
    text-transform:uppercase;
    background-color:rgb(241, 121, 9);
    color:#585655;
    font-weight:700;
    border:rgb(241, 121, 9);
}

.submit-button{
    margin-top:10px;
}

.button:hover{
    background-color:#585655;
    color:rgb(241, 121, 9);

}

.contact-info{
    margin:0px;
}

#faded-icon{
    position:absolute;
    z-index:1;
    font-size:150px;
    padding-left:0px;
    color:rgb(241, 121, 9,0.40);
}

#faded-icon i{
    margin-left:-10px;
    vertical-align:top;
    margin-top:-23px;
}

#faded-icon-phone i{
    vertical-align:top;
    margin-top:-15px;
}

#faded-icon-phone{position:absolute;
    z-index:1;
    font-size:150px;
    margin-right:25px;
    padding-left:0px;
    padding-right:20px;
    margin-bottom:20px;
    color:rgb(241, 121, 9,0.40);


}
.contact-bubble{
    font-weight:500;
    z-index:2;
    word-break:break-all;
    padding-top:5px;
    margin-left:20px;
    margin-right:20px;
    font-size:18px;
    color:#343a40;
    font-family:'Raleway', sans-serif;
    padding-top:10px;
    transform:translateY(15%);

    text-align:center;
   
    width:90%;
    
   
    }
.contact-bubble h5{
    text-transform:uppercase;
    font-weight:700;
}
.email-info{
    font-size:16px;
    font-weight:600;
}
@media(max-width:990px){
    .contact-bubble{
        display:none;
    }
}




/*--------------------Footer----------------*/

footer{
    background-color: #777a7dec;
    color:#fafafa;
    min-height:120px;
    
    width:100%;
    text-align:center;
    border-top:3px solid rgb(241, 121, 9);

}

footer h5{
 color:#fafafa;
 text-decoration: underline dotted; 
}



#footer-details{
    padding-top:20px;
    background-color: #777a7dec;
    width:100%;
    margin:0px;
}



.social-links i{
    color:#ef7108bf;
    font-size:20px;
    padding:10px;
}

.contact-us{
    padding-top:5px;
}

.contact-us i{
   color:#ef7108bf; 
   font-size:20px;
}