@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Amita:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,300;1,400&display=swap');

body{
    margin:0px;
    width:100%;
}

.container-fluid{
    margin:0;
    padding:0px;
}
/*--------------------Header----------------*/
header{
    margin-right:-15px;
}
.header{
    margin-right:-15px;
}


.navbar{
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom:20px;
    background-color:#777a7def;
    width:100%;
}

.main-heading{
    font-family:'Alfa Slab One';
    font-size:40px;
    text-transform: uppercase;
    padding-top:5px;
    color:#fafafa;
    display:block;
    text-align: center;
    text-shadow: 10px 10px 16px #ef7108bf;
}

.cogs i{
    font-size:40px;
    display:block;
    color:#fafafa;
    text-shadow: 10px 10px 16px #ef7108bf;
}

@media(max-width:800px){
    .cogs{
        display:none;
    }
}

.menuitem{
    padding:10px;
    

    
}
.list-inline-item:not(:last-child) {
    margin-right:0;
}

.list-inline{
    padding:0px;
}

.services{
    padding-right:5px;
}
.menuitem a{
    color:#fafafa;
    text-align: center;
    font-size:30px;

}

.menuitem a:hover{
    color:#F36A0B;
    text-shadow: 20px 20px 20px #fafafa;
    text-decoration:none;



}

.menuitem span{
    display:block;
    width:100%;
    padding-top:5px;
    text-align:center;
    text-transform:uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family:'Raleway', sans-serif;

}


#nav li{
    padding:10px;
    margin:0;
}

#nav{
    padding-left:8px;
    padding-right:5px;
}
/*--------------------Main Image----------------*/



.logo-container{
    padding:0px;

}
    
    



   #logo {
    padding: 0px;
    height: 400px;
    width: 100%;
    display:block;
    background:url("/assets/images/Featured-item.jpg");


    z-index:1;   

}




.bubble{
    background-color:rgba(241, 121, 9, 0.603);
    width:300px;
    height:180px;
    border-radius:50%;
    position:absolute;
    right:15%;
    bottom:10%;
    z-index: 2;
    
}

@media (max-width:400px){
    .bubble{
        
        width:55%;
        height:50%;
    }
}

.bubble p{
    font-family:'Amita', cursive;
    font-size:28px;
    color:#fafafa;
    padding-top:20px;
    text-align:center;
    vertical-align:middle;
}

/*--------------------Section----------------*/
.testimonials-div{text-align: center;
    padding:10px;
    margin-left:35px;
    margin-right:35px;

}
.testimonials{
    font-family:'Amita', cursive, sans-serif;
    background-color:rgba(241, 121, 9, 0.8);
    width:80%;
    border-radius:50%;
    padding-top:5px;
    margin-top:10px;
    text-align:center;
    margin-bottom:10px;
    margin:auto;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:15px;
    color:#777a7def;
}

.testimonials h4{
    font-family:'Roboto', sans-serif;
    font-size:20px;
    padding-top:10px;
    text-transform:uppercase;
color:#fafafa;
}
.outer-border{
    border:dotted 4px rgba(241, 121, 9, 0.8);
    border-radius:50%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:0px;
    padding-right:0px;

    
}



.uppercase{
    text-transform:uppercase;
}
.about-us{
 
    text-align: center;
    padding:10px;
    margin-left:35px;
    margin-right:35px;
    font-family:'Raleway', sans-serif;
    font-weight:500;
}

.about-us-heading{
       text-align:center;
    text-transform:uppercase;
    margin-bottom:15px;
    font-family:'Alfa Slab One';
    color:rgb(241, 121, 9);
    font-size:35px;
    text-shadow: 10px 10px 16px grey;
    margin-top:15px;

}


.testimonials-heading{
     text-align:center;
    text-transform:uppercase;
    margin-bottom:15px;
    font-family:'Alfa Slab One';
    color:rgb(241, 121, 9);
    font-size:30px;
    text-shadow: 10px 10px 16px grey;
    margin-top:15px;
} 





.services{
        padding-top:15px;
    }

/*--------------------Services----------------*/
section{
    padding-top:5px;
    padding-bottom:30px;
   width:100%;

}

.heading-services{
    text-align:center;
    text-transform:uppercase;
    margin-bottom:15px;
    font-family:'Alfa Slab One';
    color:rgb(241, 121, 9);
    text-shadow: 10px 10px 16px grey;
    margin-top:0;
    font-size:40px;

}




#services-box{

    text-align:center;
    padding:0px;
    box-shadow: 10px 10px 5px rgb(241, 121, 9,0.7);
    margin-bottom:20px;
    margin-left:45px;
    margin-right:25px;
    margin-top:20px;
    background-color:#777a7d;
    
}

.services-heading{

    width:100%;
    padding-top:10px;
    margin:0;
    text-transform:uppercase;
    color:#fafafa;
    text-align: center;
    text-shadow: 10px 10px 16px #ef7108bf;

    
    }

.services-info{
    width:80%;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
    background-color:#777a7dd7;
    color:#fafafa;
    font-family:'Raleway', sans-serif;
    
}
    
    /*--------------------Form----------------*/

.contact-heading {
    text-align:center;
    text-transform:uppercase;
    margin-top:10px;
    margin-bottom:15px;
    font-family:'Alfa Slab One';
    color:rgb(241, 121, 9);
    font-size:35px;
    text-shadow: 10px 10px 16px grey;
}
.center-form{
    padding-top:10px;
    margin:0 auto;
    max-width:70%;
    padding-bottom:25px;

}

@media(min-width:992px){
    .center-form{
    padding-top:30px;
    min-height:240px;
    margin:0 auto;
    max-width:50%;

}
}

.input-box{
    margin-top:5px;
}

.button{
    text-transform:uppercase;
    background-color:rgb(241, 121, 9);
    color:#585655;
    font-weight:700;
    border:rgb(241, 121, 9);
}

.submit-button{
    margin-top:10px;
}

.button:hover{
    background-color:#585655;
    color:rgb(241, 121, 9);

}





/*--------------------Footer----------------*/

footer{
    background-color: #777a7d;
    color:#fafafa;
    min-height:120px;
    
    width:100%;
    text-align:center;

}

.footer{
    margin-right:-20px;
    background-color: #777a7d;
    width:100%;
}

#footer-details{
    padding-top:20px;
    background-color: #777a7d;
}



.social-links i{
    color:#ef7108bf;
    font-size:20px;
    padding:10px;
}

.contact-us{
    padding-top:5px;
}

.contact-us i{
   color:#ef7108bf; 
   font-size:20px;
}